.vscode/
.hypothesis/
.venv/
.pytest_cache/
data/*.csv
data/*.pt
.DS_Store
__pycache__/
*.egg-info/

data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
experiments/and/data/test_and_xs1.pt
experiments/and/data/test_and_xs2.pt
experiments/and/data/test_and_ys.pt
experiments/and/data/train_and_xs1.pt
experiments/and/data/train_and_xs2.pt
experiments/and/data/train_and_ys.pt
experiments/and/figures/and_acc_global.pdf
experiments/and/data/direct_and_acc_test.csv
experiments/and/data/direct_and_loss_test.csv
experiments/and/data/direct_and_loss_train.csv
experiments/and/data/church_and_acc_test.csv
experiments/and/data/church_and_loss_test.csv
experiments/and/data/church_and_loss_train.csv
experiments/and/data/type_and_acc_test.csv
experiments/and/data/type_and_loss_test.csv
experiments/and/data/type_and_loss_train.csv
experiments/eq/data/direct_eq_acc_test.csv
experiments/eq/data/direct_eq_loss_test.csv
experiments/eq/data/direct_eq_loss_train.csv
experiments/eq/data/test_eq_xs1.pt
experiments/eq/data/test_eq_xs2.pt
experiments/eq/data/test_eq_ys.pt
experiments/eq/data/train_eq_xs1.pt
experiments/eq/data/train_eq_xs2.pt
experiments/eq/data/train_eq_ys.pt
experiments/eq/data/type_eq_acc_test.csv
experiments/eq/data/type_eq_loss_test.csv
experiments/eq/data/type_eq_loss_train.csv
experiments/eq/figures/eq_acc_global.pdf
experiments/and/figures/and_acc_global_dsum.pdf
experiments/and/figures/eq_acc_global.pdf
